/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-font: 'Roboto', sans-serif;
$logo-font: 'ZCOOL XiaoWei', serif;
$primary-font-color: blue;

body {
  font-family: $primary-font;
  background: linear-gradient(to bottom right,rgba(255, 255, 255, 0.9), rgba(255, 254, 254, 0.6)), url("../images/room.jpg");
  background-repeat: no-repeat;
  background-size: 200vh;
  height: 98vh;
  position: relative;
  margin: 0;
  
}

h1 {
  font-size: 3em;
  color: blue;
  margin-left: 20px;
  font-family: $logo-font;
}

h2 {
  text-align: center;
}

.login-container {
  
  text-align: center;
}

#login-form {
  color: $primary-font-color;
  box-shadow: 0px 0px 10px -2px #000000;
  border: .5px solid grey;
  border-radius: 5px;
  background: white;
  margin: auto;
  width: 40%;
  height: 45vh;
  padding: 25px;
  margin-top: 100px;
}

.login-selector {
  padding: 10px;
  font-size: 1.2em;
  display: flex;
  justify-content: space-evenly;
}

#manager {
  border-right: 1px solid grey
}

.login-inputs {
  margin: auto;
  text-align: left;
  width: 50%;
}

input {
  height: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1.5em;
}

button {
  background-color: blue;
  margin: auto;
  height: 40px;
  width: 30%;
  color: white;
  font-family: $primary-font;
  font-size: 1.5em;
  border: none;
  border-radius: 3px;
}
