@import 'variables';
@import 'mixins';


.manager-header {
 @include header;
}

.log-off {
  @include button;
  position: absolute;
  right: 7px;
  top: 3px;
  width: 10%;
  font-size: .9em;
}

.date {
  margin-right: 20px;
  margin-top: auto;
}

.manager-body {
  background: linear-gradient(to bottom right,rgba(0, 0, 255, 0.61), rgba(0, 0, 255, 0.1));
  height: 150vh;
  width: 100%;
}

.manager-main {
  padding: 30px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.dashboard-tile {
  @include managerDashboardTile;
}

.dashboard-tile-title {
 @include managerTileTitle;
}

.dashboard-tile-number {
  @include managerTileNumber;
}

#user-search {
  height: 40px;
  font-size: .6em;
}

#user-search-tile {
  height: 40vh;
}

.user-bookings {
  height: 40vh;
  overflow: scroll;
}

.user-search-section {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 30px;
}

.search-user {
  @include button;
  font-size: .5em;
}

.error-msg {
  color: red;
  font-size: .5em;
  margin-bottom: 3px;
}

.upcoming-list {
  position: relative;
  &:hover {
    background-color: rgba(6, 6, 108, 0.468);
  }
}

#manager-book-date {
  font-size: .7em;
  padding: 5px;
  width: 30%;
  
}

.manager-book {
  width: 75%;
  height: 40vh;
  overflow: scroll;
  margin: auto;
  margin-top: 25px;
}

.manager-room-search-btn {
  @include button;
  margin: 15px;
  font-size: 1em;
}

.manager-rooms-list {
  &:hover {
    background: rgba(6, 6, 108, 0.468);
    cursor: pointer;
  }
}

.book-delete {
  color: white;
  border-radius: 3px;
  border: none;
  background: rgba(128, 20, 20, 0.94);
  position: absolute;
  bottom: 2px;
  right: 2px;
  &:hover {
    cursor: pointer;
  }
}




@media screen and (max-width: 900px) {
  .manager-main {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .manager-body {
    height: 250vh;
  }

  .user-search-section {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 700px) {
  .manager-main {
    display: block;
  }

  .dashboard-tile {
    width: 85%;
  }

  .manager-body{
    height: 300vh;
  }

  .user-search-section {
    display: block;
  }
}
