@mixin managerDashboardTile {
  text-align: center;
  padding: 10px 30px 10px 30px;
  background: white;
  width: 30%;
  height: 25vh;
  box-shadow: $box-shadow;
  border-radius: 3px;
  font-size: 2em;
  margin: 10px;
}

@mixin managerTileTitle {
  margin: 0px;
  border-bottom: 2.5px solid blue;
}

@mixin managerTileNumber {
  font-size: 1.5em;
  margin-top: 15px;
}

@mixin header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid blue;
  background: white;
  padding-bottom: 10px;
}
