@import 'variables';
@import 'mixins';

.customer-header {
 @include header;
}

.date {
  margin-right: 20px;
  margin-top: auto;
}

.customer-body {
  background: linear-gradient(to bottom right,rgba(0, 0, 255, 0.61), rgba(0, 0,255, 0.1));
  height: 100vh;
  width: 100%;
}

.customer-main {
  padding: 30px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.customer-tile {
  @include managerDashboardTile;
  height: 60vh;
  overflow: scroll;
}

.customer-tile-title {
 @include managerTileTitle;
}

.customer-tile-number {
  @include managerTileNumber;
}

.book-list {
  padding: 0;
}

.list-items {
  background: rgba(0, 0,255, 0.1);
  margin: 5px 0px 5px 0px;
  text-align: center;
  padding: 0;
}



@media screen and (max-width: 900px) {
  .customer-main {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 700px) {
  .customer-main {
    display: block;
  }

  .customer-tile {
    width: 85%;
  }
}
