@import 'variables';
@import 'mixins';

.customer-header {
 @include header;
}

.date {
  margin-right: 20px;
  margin-top: auto;
}

.customer-body {
  background: linear-gradient(to bottom right,rgba(0, 0, 255, 0.61), rgba(0, 0,255, 0.1));
  height: 100vh;
  width: 100%;
}

.customer-main {
  padding: 30px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
}

.customer-tile {
  @include managerDashboardTile;
  height: 60vh;
  overflow: scroll;
  
}

.customer-tile-title {
 @include managerTileTitle;
}

.customer-tile-number {
  @include managerTileNumber;
}

.book-list {
  padding: 0;
}

.rooms-list{
  &:hover {
    background: rgba(6, 6, 108, 0.468);
    cursor: pointer;
  }
}

.list-items {
  background: rgba(0, 0,255, 0.1);
  margin: 10px 0px 8px 0px;
  text-align: left;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 7px 7px 19px 2px rgba(0,0,0,0.35);
}

.book-btn {
  @include button;
  font-size: .5em;
  width: 50%;
  margin-top: 3px;
}

#book-date {
  font-size: .7em;
  padding: 5px;
}



@media screen and (max-width: 900px) {
  .customer-main {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .customer-body {
    height: 170vh;
  }
}

@media screen and (max-width: 700px) {
  .customer-main {
    display: block;
  }

  .customer-tile {
    width: 85%;
  }

  .customer-body {
    height: 230vh;
  }
}
